body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 197, 197);
  display: flex;
  font-family: 'Inter', sans-serif;
}

/* - Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)
 */

/* Text and images hidden */

.review {
  display: none;
}

.review-visible {
  display: block;
  animation: fadeVisibily 500ms;
}

.image {
  display: none;
}

.image-visible {
  display: block;
  animation: fadeVisibily 500ms;
}

.image img {
  width: 23rem;
  max-width: 23rem;
  height: 100%;
  opacity: 0.8;
  position: relative;
  z-index: -1;
  margin-left: -2.5rem;
}

/* Left side testimonial */

.review-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-image: url('/images/pattern-quotes.svg');
  background-repeat: no-repeat; */
}

/* Text testimonial */
.experience {
  font-size: 1.2rem;
  color: hsl(240, 38%, 20%);
  max-width: 26rem;
}

/* Name and ocupation */

.name-field {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: hsl(240, 100%, 22%, 0.596);
  font-size: 1rem;
}

.name-field h5 {
  color: hsl(240, 38%, 20%);
  font-size: 1rem;
}

/* Image and buttons container */

.images-buttons {
  position: relative;
}

/* Navigation buttons */

.nav-btns {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 15px;
  margin-top: -1.5rem;
  position: absolute;
  box-shadow: 1px 1px 4px rgb(121, 111, 111);
  width: 4.5rem;
}

.prev-button,
.next-button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.prev-button-icon {
  height: 1rem;
}

.next-button-icon {
  height: 0.99rem;
}

@keyframes fadeVisibily {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.quotes {
  position: absolute;
  right: 40rem;
}

@media (max-width: 50.62em) {
  .review-images {
    flex-direction: column-reverse;
    background-image: none;
  }

  .experience {
    text-align: center;
    margin-top: 3rem;
  }

  .name-field {
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0.9rem;
  }

  .name-field h5,
  p {
    margin: 0;
    padding: 0;
  }

  .image img {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .nav-btns {
    margin-top: -3rem;
    margin-left: 6.5rem;
    width: 7rem;
  }

  .quotes {
    display: block;
    position: absolute;
    width: 4rem;
    top: 22rem;
    left: 8rem;
  }
}
